<evt-panel [showSecondaryContent]="isSecondaryContentOpened()" (scrollContent)="updatePage()">
    <div header-left>
        <evt-page-selector [pageID]="pageID" (selectionChange)="currentPage$.next($event)"></evt-page-selector>
        <evt-edition-level-selector [class.hidden]="hideEditionLevelSelector" [editionLevelID]="editionLevelID" (selectionChange)="currentEdLevel$.next($event)"></evt-edition-level-selector>
        <evt-button
        label="Info"
        [iconLeft]="{icon: 'info-circle'}"
        additionalClasses="btn-primary mr-1"
        class="info-panel"
        (btnClick)="toggleSecondaryContent('Le immagini sono pubblicate su concessione del Ministero della cultura – Archivio di Stato di Prato e sono liberamente utilizzabili per attività di studio, ricerca, libera manifestazione del pensiero o espressione creativa, promozione della conoscenza del patrimonio culturale. I diritti di riproduzione delle immagini pubblicate – ai sensi degli articoli 106, 107 e 108 del Codice dei beni culturali e del paesaggio (D.Lgs. 42/2004 e s.m.i.) – appartengono dell’Archivio di Stato di Prato, pertanto tutti gli usi di queste immagini, diversi da quelli sopra esposti, debbono essere espressamente autorizzati (https://archiviodistatoprato.cultura.gov.it/servizi/autorizzazioni-a-pubblicare).')"
        [active]="secondaryContent === 'Info'"></evt-button>
    </div>
    <div content evtAnnotator #mainContent>
        <ng-container *ngIf="(currentStatus$ | async) as currentStatus">
            <ng-container *ngIf="isMultiplePageFlow$ | async">
                <evt-page *ngFor="let page of currentStatus.pages"
                    [attr.data-id]="page.id"
                    [data]="page"
                    [textFlow]="textFlow"
                    [itemsToHighlight]="itemsToHighlight$ | async"
                    [itemsLemsToHighlight]="itemsLemsToHighlight$ | async"
                    [itemsIperlemsToHighlight]="itemsIperlemsToHighlight$ | async"></evt-page>
            </ng-container>
            <evt-page *ngIf="(isMultiplePageFlow$ | async) === false"
                [attr.data-id]="currentStatus.currentPage.id"
                [data]="currentStatus.currentPage"
                [editionLevel]="currentStatus.editionLevel"
                [textFlow]="textFlow"
                [itemsToHighlight]="itemsToHighlight$ | async"
                [itemsLemsToHighlight]="itemsLemsToHighlight$ | async"
                [itemsIperlemsToHighlight]="itemsIperlemsToHighlight$ | async"></evt-page>
        </ng-container>
    </div>
    <div secondary-content>
        {{ getSecondaryContent() }}
    </div>

    <div footer>
        <!-- <evt-button
            [iconLeft]="{icon: 'search'}"
            label="Search"
            additionalClasses="mr-1"
            (btnClick)="toggleSecondaryContent('SEARCH_RESULTS')"
            [active]="secondaryContent === 'SEARCH_RESULTS'">
        </evt-button> -->
        <evt-entities-select (selectionChange)="itemsToHighlight$.next($event)"></evt-entities-select>
        <evt-lems-select (selectionChange)="itemsLemsToHighlight$.next($event)"></evt-lems-select>
        <evt-iperlems-select (selectionChange)="itemsIperlemsToHighlight$.next($event)"></evt-iperlems-select>
        <evt-button *ngIf="enableProseVersesToggler" 
            [iconLeft]="proseVersesTogglerIcon"
            [label]="textFlow | translate"
            additionalClasses="ml-1"
            (btnClick)="toggleProseVerses()">
        </evt-button>
    </div>
</evt-panel>